* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.krishna {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}



::-webkit-scrollbar {
  width: 1px;
}


.green {
  background-color: #0d9488 !important;
}

.green-border {
  border: 4px solid #0d9488 !important;
}



.green-text {
  color: #0d9488 !important;
}

.purple {
  background-color: #7c3aed !important;
}

.purple-border {
  border: 4px solid #7c3aed !important;
}

.purple-text {
  color: #7c3aed !important;
}

.pink {
  background-color: #db2777 !important;
}

.pink-border {
  border: 4px solid #db2777 !important;
}

.pink-text {
  color: #db2777 !important;
}

.blue {
  background-color: #0284c7 !important;
}

.blue-border {
  border: 4px solid #0284c7 !important;
}

.blue-text {
  color: #0284c7 !important;
}
